//    Font Family

$primary-font: 'Martel', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color: #df003a;
$title-color: #222222;
$text-color: #777777;

$white: #fff;
$offwhite: rgba(198, 199, 196, 0.1);
$black: #222;
